@{
    ViewData["Title"] = "CursoComprado";
}
<div class="curso-comprado">
    <h1>Curso comprado</h1>
</div>
<div class="video-container">
    @* <video width="1000" height="500" controls>
        <source src="@ViewBag.CursoComprado.videoCurso" type="video/mp4">
    </video> *@
    <div id="content"></div>

</div>
<script>
    const url = "@ViewBag.CursoComprado.videoCurso";
    const videoId = new URL(url).searchParams.get("v");
    const content = document.getElementById("content");
    
    content.innerHTML += `
    <iframe width="1000" height="500" 
            src="https://www.youtube.com/embed/${videoId}" 
            frameborder="0" allowfullscreen></iframe>
    `;
    </script>
<p>Video URL: @ViewBag.CursoComprado.videoCurso</p>
