@{
    ViewData["Title"] = "Home Page";
}


<header class="rectangle7 text-center d-flex flex-column justify-content-center align-items-center" style="background-size: cover; background-position: center;">
    <div class="h1" style="font-size: 76px;">Cambiando el mundo, <br> una mente a la vez</div>
</header>


<div class="container mt-4">
        <swiper-container slides-per-view="3" speed="500" loop="true" pagination="true" navigation="true" class="mySwiper">
            @foreach (var Reseña in ViewBag.Reseñas)
            {
                <swiper-slide>
                    <div class="card" style="height: 300px;border-radius: 16px;">
                        <div class="px-4 py-3 text-center">
                            <img src="@(string.IsNullOrEmpty(Reseña.Usuario.fotoPerfil) ? "/img/avatar.jpg" : Reseña.Usuario.fotoPerfil)" alt="Imagen de @Reseña.Usuario.Nombre" style="height: 100px; width: 100px; border-radius: 50%; object-fit: cover;" />
                            <h4 class="card-subtitle my-2 text-muted">@Reseña.Usuario.Nombre</h4>
                            <p class="card-text">@Reseña.Texto</p>
                        </div>
                    </div>
                </swiper-slide>
            }
        </swiper-container>
</div>


<div class="d-flex justify-content-center my-5">
  <a href="@Url.Action("Reseñas", "Home")" class="btn btn-success">Ver todas reseñas</a>
</div>


  

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>